
body{
  background-color: #fffef8;
}
.App {
  text-align: center;
  padding: 40px;
}
/* wrapper */
#wrapper{
  /* border: solid green; */
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #faf9f8;
  margin-top: 20px;
  width: 410px;
  height: 750px;
}

/* STUDENT */
#studentBox {
  /* border: solid rgb(255, 208, 0); */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fac535;
  height: 350px;
  margin-bottom: 100px;
}
.profileImg {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: auto;
  width: 200px;
  /* border: solid orange; */
  border-radius: 50%;
  margin-top: 25px;
}
.name {
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0 25px 0;
}
.bio {
  /* border: solid lime; */
  border-radius: 8px;
  padding: 20px 15px 18px 15px;
  width: 360px;
  margin: 30px 0 30px 23px;
  /* margin-left: 23px; */
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* SCORE */
.scoreWrapper {
  /* border: solid crimson; */
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.scoreBox{
  /* border: solid orange; */
  border-style: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 12px;
  background-color: #fff;
}
.grade {
  opacity: 50%;
}
.pupilScore {
  font-weight: bold;
}